/* placeholder for css */
.check_domain_availability[disabled]{
	background: #ccc;
	color: #666;
}
.check_domain_availability{
	padding: 10px 20px;
}
.not-filledin{
	color: purple;
}
.not-available{
	color: red;
}
.available{
	color: green;
}
.ginput_container.ginput_container_domain_checker input, .ginput_container.ginput_container_domain_checker select{
	width: calc(50% - 8px);
	float: left;
	height: 50px;
	margin-bottom: 20px;
}
.gfdc_info{
	clear:both;
}